<% @posts.each do |post| %>
	<div class="col-md-4">
		<div class="post">
			<h2 class="post-title"><%= post.title %></h2>
			<%= link_to "View Post", post_path(post.id), class: "btn btn-default" %>
		</div>
	</div>
<% end %>
